<!DOCTYPE html>
<html>
<head>
  <title>Man United App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'layouts/nav' %> 
  <%= bootstrap_flash %>
  <div class='container'>
   <%= yield %> 
  </div>
  
  <% if current_user %>
  <%= render 'layouts/foot2' %>
  <% else %>
  <%= render 'layouts/foot' %>
  <% end %>
  

</body>
</html>
